:root {
  --ff-base: "Open Sans", sans-serif;
  --ff-head: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --color-pink: hsl(322, 100%, 66%);
  --color-pink-shadow: hsla(322, 100%, 66%, 0.22);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-cyan-shadow: hsla(192, 100%, 9%, 0.22);
  --color-very-pale-blue: hsl(207, 100%, 98%);
  --color-icon-active: hsl(192, 100%, 49%);
  --color-grey: hsl(208, 12%, 55%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1.4rem;
  line-height: 1.5em;
  color: var(--color-very-dark-cyan);
  background-color: var(--color-very-pale-blue);
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.heading-2, .heading-1 {
  font-family: var(--ff-head);
  font-weight: var(--fw-bold);
  line-height: 1.5em;
}

.heading-1 {
  font-size: 2.4rem;
}

.heading-2 {
  font-size: 2rem;
}
.heading-2--cta {
  font-size: 2.4rem;
}
.heading-2--footer {
  text-transform: uppercase;
}

.foot-note {
  font-weight: var(--fw-semi-bold);
  line-height: 2.4rem;
}

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hidden {
  display: none;
}

.btn-form, .btn-secondary, .btn-primary {
  font-family: inherit;
  font-weight: var(--fw-bold);
  line-height: 1.5em;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary:link, .btn-primary:visited {
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 1.15rem 4rem;
  border-radius: 4rem;
  box-shadow: 0rem 0.3rem 0.7rem var(--color-cyan-shadow);
  transition: background-color 0.25s ease-out;
}
.btn-primary:hover, .btn-primary:active {
  background-color: var(--color-light-pink);
}

.btn-secondary:link, .btn-secondary:visited {
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  color: var(--color-pink);
  padding: 0.42rem 1.9rem;
  border-radius: 4rem;
  border: 0.1rem solid var(--color-pink);
  box-shadow: 0rem 0rem 0.5rem 0rem var(--color-pink-shadow);
  transition: all 0.25s ease-out;
}
.btn-secondary:hover, .btn-secondary:active {
  color: var(--color-light-pink);
  border: 0.1rem solid var(--color-light-pink);
}

.btn-form {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 1.2rem 4.15rem;
  border-radius: 0.5rem;
  transition: background-color 0.25s ease-out;
}
.btn-form:hover, .btn-form:active {
  background-color: var(--color-light-pink);
}

.stat-card {
  display: grid;
  justify-items: center;
}
.stat-card__icon {
  justify-self: start;
}
.stat-card__value {
  font-weight: var(--fw-bold);
  line-height: 1.5em;
}
.stat-card__description {
  color: var(--color-grey);
  line-height: 1.5em;
}
.stat-card--communities {
  grid-template-rows: 2.5rem repeat(2, min-content);
}
.stat-card--communities img {
  width: 3.5rem;
}
.stat-card--communities p:first-of-type {
  font-size: 6.1rem;
}
.stat-card--communities p:last-of-type {
  font-size: 1.5rem;
}
.stat-card--messages {
  grid-template-rows: 2.1rem repeat(2, min-content);
}
.stat-card--messages img {
  width: 2.7rem;
}
.stat-card--messages p:first-of-type {
  font-size: 5.4rem;
}
.stat-card--messages p:last-of-type {
  font-size: 1.4rem;
}

.stat-cards {
  display: grid;
  justify-content: center;
  row-gap: 9.1rem;
}

.form-subscribe {
  display: grid;
  grid-template-columns: repeat(2, 16rem);
  grid-template-rows: repeat(2, 4.8rem);
  row-gap: 1.6rem;
  position: relative;
}
.form-subscribe__input {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-family: inherit;
  font-size: inherit;
  line-height: 2.4rem;
  color: inherit;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 1.6rem;
}
.form-subscribe__btn {
  grid-row: 2/3;
  grid-column: 2/-1;
}
.form-subscribe--error input[type=email] {
  border: 0.1rem solid var(--color-light-red);
}
.form-subscribe--error input[type=email] + .error-msg {
  font-weight: var(--fw-semi-bold);
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: var(--color-light-red);
  position: absolute;
  top: 5rem;
}

.contact-link {
  text-decoration: none;
  line-height: 2.4rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.contact-link::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
.contact-link--tel::before {
  background: no-repeat center url("../images/icon-phone.svg");
}
.contact-link--mail::before {
  background: no-repeat center url("../images/icon-email.svg");
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
.social-links .social-link {
  list-style-type: none;
}
.social-links .social-link__link:link, .social-links .social-link__link:visited {
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.25s ease-out;
}
.social-links .social-link__link:hover, .social-links .social-link__link:active {
  color: var(--color-icon-active);
}
.social-links .social-link__icon {
  font-size: 2.3rem;
  color: currentcolor;
}

.container {
  max-width: 37.5rem;
  overflow-x: hidden;
}

.section-grid {
  display: grid;
  grid-template-columns: 32rem;
  justify-content: center;
  justify-items: center;
}
.section-grid__item-2-of-2--section-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.header {
  background-color: var(--color-white);
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 9.6rem;
}

.hero {
  background-color: var(--color-white);
  padding: 8.85rem 3.95rem 11.4rem;
  text-align: center;
}
.hero__header {
  margin-bottom: 10.4rem;
}
.hero__header > .heading-1 {
  margin-bottom: 2.4rem;
}
.hero__header > p {
  margin-bottom: 4.8rem;
}
.hero__illustration {
  width: 100%;
  margin-bottom: 12rem;
}

.grow {
  background-color: var(--color-very-pale-blue);
  padding: 10.2rem 0rem 8.1rem;
  position: relative;
}
.grow__illustration {
  width: 25.9rem;
  margin-bottom: 7.4rem;
}
.grow::before {
  content: "";
  background: url("../../images/bg-section-top-mobile-1.svg");
  width: 100%;
  height: 11.2rem;
  position: absolute;
  top: -11.2rem;
}
.grow::after {
  content: "";
  background: url("../../images/bg-section-bottom-mobile-1.svg");
  width: 100%;
  height: 5.2rem;
  position: absolute;
  bottom: -5.2rem;
}

.conversation {
  background-color: var(--color-white);
  padding: 16.5rem 0rem 22.3rem;
}
.conversation__illustration {
  width: 26.6rem;
  margin-bottom: 8.6rem;
}
.users {
  background-color: var(--color-very-pale-blue);
  padding: 1.6rem 0rem 17.2rem;
  position: relative;
}
.users__illustration {
  width: 26.7rem;
  margin-bottom: 7.9rem;
}
.users::before {
  content: "";
  background: url("../../images/bg-section-top-mobile-2.svg");
  width: 100%;
  height: 10.3rem;
  position: absolute;
  top: -10.3rem;
}
.users::after {
  content: "";
  background: url("../../images/bg-section-bottom-mobile-2.svg");
  width: 100%;
  height: 10.1rem;
  position: absolute;
  bottom: -10.1rem;
}

.cta {
  background-color: var(--color-white);
  padding: 10.8rem 0rem 30.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  text-align: center;
}

.footer {
  background-color: var(--color-very-dark-cyan);
  color: var(--color-white);
  padding: 5.6rem 0rem 4.6rem;
  position: relative;
}
.footer__newsletter {
  margin-bottom: 10.4rem;
}
.footer__newsletter > .heading-2 {
  margin-bottom: 1.6rem;
}
.footer__newsletter > p {
  margin-bottom: 3.2rem;
}
.footer__logo {
  width: 20rem;
  margin-bottom: 1.6rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin: 4rem 0rem 4.8rem;
}
.footer::before {
  content: "";
  background: url("../images/bg-footer-top-mobile.svg");
  width: 100%;
  height: 5.3rem;
  position: absolute;
  top: -53px;
}

/*# sourceMappingURL=style.css.map */
