:root {
  --ff-base: "Open Sans", sans-serif;
  --ff-head: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --color-pink: hsl(322, 100%, 66%);
  --color-pink-shadow: hsla(322, 100%, 66%, 0.22);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-cyan-shadow: hsla(192, 100%, 9%, 0.22);
  --color-very-pale-blue: hsl(207, 100%, 98%);
  --color-grey: hsl(208, 12%, 55%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1.4rem;
  line-height: 1.5em;
  color: var(--color-very-dark-cyan);
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.heading-2, .heading-1 {
  font-family: var(--ff-head);
  font-weight: var(--fw-bold);
  line-height: 1.5em;
}

.heading-1 {
  font-size: 2.4rem;
}

.heading-2 {
  font-size: 2rem;
}
.heading-2--cta {
  font-size: 2.4rem;
}
.heading-2--footer {
  text-transform: uppercase;
}

.foot-note {
  font-weight: var(--fw-semi-bold);
  line-height: 2.4rem;
}

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hidden {
  display: none;
}

.btn-form, .btn-secondary, .btn-primary {
  font-family: inherit;
  font-weight: var(--fw-bold);
  line-height: 1.5em;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary:link, .btn-primary:visited {
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 1.15rem 4rem;
  border-radius: 4rem;
  box-shadow: 0rem 0.3rem 0.7rem var(--color-cyan-shadow);
  transition: background-color 0.25s ease-out;
}
.btn-primary:hover, .btn-primary:active {
  background-color: var(--color-light-pink);
}

.btn-secondary:link, .btn-secondary:visited {
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  color: var(--color-pink);
  padding: 0.42rem 1.9rem;
  border-radius: 4rem;
  border: 0.1rem solid var(--color-pink);
  box-shadow: 0rem 0rem 0.5rem 0rem var(--color-pink-shadow);
  transition: all 0.25s ease-out;
}
.btn-secondary:hover, .btn-secondary:active {
  color: var(--color-light-pink);
  border: 0.1rem solid var(--color-light-pink);
}

.btn-form {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 1.2rem 4.15rem;
  border-radius: 0.5rem;
  transition: background-color 0.25s ease-out;
}
.btn-form:hover, .btn-form:active {
  background-color: var(--color-light-pink);
}

.form-subscribe {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(2, 16rem);
  grid-template-rows: repeat(2, 4.8rem);
  row-gap: 1.6rem;
  position: relative;
}
.form-subscribe__input {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-family: inherit;
  font-size: inherit;
  line-height: 2.4rem;
  color: inherit;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 1.6rem;
}
.form-subscribe__btn {
  grid-row: 2/3;
  grid-column: 2/-1;
}
.form-subscribe--error input[type=email] {
  border: 0.1rem solid var(--color-light-red);
}
.form-subscribe--error input[type=email] + .error-msg {
  font-weight: var(--fw-semi-bold);
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: var(--color-light-red);
  position: absolute;
  top: 5rem;
}

.stat-card {
  display: grid;
  justify-items: center;
}
.stat-card__icon {
  justify-self: start;
}
.stat-card__value {
  font-weight: var(--fw-bold);
  line-height: 1.5em;
}
.stat-card__description {
  color: var(--color-grey);
  line-height: 1.5em;
}
.stat-card--communities {
  grid-template-rows: 2.5rem repeat(2, min-content);
}
.stat-card--communities img {
  width: 3.5rem;
}
.stat-card--communities p:first-of-type {
  font-size: 6.1rem;
}
.stat-card--communities p:last-of-type {
  font-size: 1.5rem;
}
.stat-card--messages {
  grid-template-rows: 2.1rem repeat(2, min-content);
}
.stat-card--messages img {
  width: 2.7rem;
}
.stat-card--messages p:first-of-type {
  font-size: 5.4rem;
}
.stat-card--messages p:last-of-type {
  font-size: 1.4rem;
}

.stat-cards {
  display: grid;
  justify-content: center;
  row-gap: 9.1rem;
}

/*# sourceMappingURL=style.css.map */
