.header {
    background-color: var(--color-white);
    padding: 2.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        width: 9.6rem;
    }
}