.header {
    background-color: var(--color-white);
    padding: 2.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        width: 9.6rem;
    }

    @include media-screen-min($bp-desktop) {
        padding: 7.8rem 6.3rem 7.8rem 8rem;

        &__logo {
            width: auto;
        }
    }
}