.cta {
    background-color: var(--color-white);
    padding: 16.7rem 0rem 30.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;

    text-align: center;
}