.grow {
    background-color: var(--color-very-pale-blue);
    padding: 4.6rem 0rem 5.4rem; //TODO: check spacing for mobile
    position: relative;

    &__illustration {
        width: 25.9rem;
    }

    &::before {
        content: "";
        background: url('../images/bg-section-top-mobile-1.svg');
        width: 100%;
        height: 11.2rem;
        position: absolute;
        top: -11.2rem;
    }

    &::after {
        content: "";
        background: url('../images/bg-section-bottom-mobile-1.svg');
        width: 100%;
        height: 5.2rem;
        position: absolute;
        bottom: -5.2rem;
    }

    @include media-screen-min($bp-desktop) {
        padding: 14rem 0rem 1.4rem;

        &__illustration {
            width: 51.7rem;
        }

        &::before {
            background: url('../images/bg-section-top-desktop-1.svg');
            height: 16.5rem;
            position: absolute;
            top: -16.5rem;
        }
    
        &::after {
            background: url('../images/bg-section-bottom-desktop-1.svg');
            height: 13.9rem;
            position: absolute;
            bottom: -13.9rem;
        }
    }
}