.users {
    background-color: var(--color-very-pale-blue);
    padding: 0rem 0rem 11.4rem;
    position: relative;

    &__illustration {
        width: 26.7rem;
    }

    &::before {
        content: "";
        background: url('../images/bg-section-top-mobile-2.svg');
        width: 100%;
        height: 10.3rem;
        position: absolute;
        top: -9.8rem;
        overflow: hidden;
    }

    &::after {
        content: "";
        background: url('../images/bg-section-bottom-mobile-2.svg');
        width: 100%;
        height: 10.1rem;
        position: absolute;
        bottom: -10.1rem;
    }

    @include media-screen-min($bp-desktop) {
        padding: 11rem 0rem 0rem;

        &__illustration {
            width: 53.4rem;
        }

        &::before {
            background: url('../images/bg-section-top-desktop-2.svg');
            height: 15.2rem;
            top: -15.2rem;
        }
    
        &::after {
            background: url('../images/bg-section-bottom-desktop-2.svg');
            height: 13.9rem;
            bottom: -11.6rem;
        }
    }
}