.cta {
    background-color: var(--color-white);
    padding: 16.7rem 0rem 30.2rem; //TODO: check spacing for mobile

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;

    text-align: center;

    @include media-screen-min($bp-desktop) {
        padding: 28rem 0rem 33.6rem; //TODO: check bottom padding when footer is ready
    }
}