.section {
    max-width: 32rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 28rem 1fr;
    gap: 4rem;
    justify-items: center;
    align-items: center;

    &__item-1-of-2 {
        background-color: bisque;
    }

    &__item-2-of-2 {
        background-color: aquamarine;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &--footer {
        gap: 10.4rem;

        & .section__item-2-of-2 {
            text-align: left;
            gap: 0rem;
        }
    }

    @include media-screen-min($bp-desktop) {
        max-width: 120rem;
        margin: 0 auto;

        grid-template-columns: 1fr 52rem;
        gap: 12rem;
                
        &__item-2-of-2 {
            text-align: left;
            gap: 2.4rem;
        }

        &--reverse {
            grid-template-columns: 52rem 1fr;

            & > .section__item-2-of-2 {
                order: -1;
            }
        }

        &--narrow {
            max-width: 118rem;
            gap: 10rem;
        }

        &--footer {
            grid-template-columns: 34rem 52rem;
            align-items: start;
            justify-items: start;
            column-gap: 34rem;
    
            & .section__item-2-of-2 {
                order: -1;
            }
        }
    }
}