.section-grid {
    display: grid;
    grid-template-columns: 32rem;
    justify-content: center;
    justify-items: center;

    &__item-1-of-2 {}

    &__item-2-of-2 {
        &--section-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 1.6rem;
        }

    }
}