.stat-card {
    display: grid;
    justify-items: center;
    
    &__icon {
        justify-self: start;
    }

    &__value {
        font-weight: var(--fw-bold);
        line-height: 1.5em;
    }

    &__description {
        color: var(--color-grey);
        line-height: 1.5em;
    }

    &--communities {
        grid-template-rows: 2.5rem repeat(2, min-content);

        & img {
            width: 3.5rem;
        }

        & p:first-of-type {
            font-size: 6.1rem;
        }

        & p:last-of-type {
            font-size: 1.5rem;
        }
    }

    &--messages {
        grid-template-rows: 2.1rem repeat(2, min-content);

        & img {
            width: 2.7rem;
        }

        & p:first-of-type {
            font-size: 5.4rem;
        }

        & p:last-of-type {
            font-size: 1.4rem;
        }
    }

    @include media-screen-min($bp-desktop) {
        &--communities {
            grid-template-rows: 4rem repeat(2, min-content);
    
            & img {
                width: 5.6rem;
            }
    
            & p:first-of-type {
                font-size: 9.6rem;
            }
    
            & p:last-of-type {
                font-size: 2.4rem;
            }
        }
    
        &--messages {
            grid-template-rows: 3.7rem repeat(2, min-content);
    
            & img {
                width: 4.9rem;
            }
    
            & p:first-of-type {
                font-size: 9.6rem;
            }
    
            & p:last-of-type {
                font-size: 2.4rem;
            }
        }
    }
}