%btn {
    font-family: inherit;
    font-weight: var(--fw-bold);
    line-height: 1.5em;

    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;

    display: inline-block
    
}

.btn-primary {
    @extend %btn;

    &:link,
    &:visited {
        font-size: 1.2rem;
        color: var(--color-white);
        
        background-color: var(--color-pink);
        padding: 1.15rem 4rem;
        border-radius: 4rem;

        box-shadow: 0rem 0.3rem 0.7rem var(--color-cyan-shadow);
        transition: background-color 0.25s ease-out;
    }

    &:hover,
    &:active {
        background-color: var(--color-light-pink);
    }
}

.btn-secondary {
    @extend %btn;

    &:link,
    &:visited {
        font-size: 0.9rem;
        font-weight: var(--fw-regular);
        color: var(--color-pink);

        padding: 0.42rem 1.9rem;
        border-radius: 4rem;
        border: 0.1rem solid var(--color-pink);

        box-shadow: 0rem 0rem 0.5rem 0rem var(--color-pink-shadow);
        transition: all 0.25s ease-out;
    }

    &:hover,
    &:active {
        color: var(--color-light-pink);
        border: 0.1rem solid var(--color-light-pink);
    }
}

.btn-form {
    @extend %btn;

    font-size: 1.6rem;
    color: var(--color-white);
        
    background-color: var(--color-pink);
    padding: 1.2rem 4.15rem;
    border-radius: 0.5rem;

    transition: background-color 0.25s ease-out;

    &:hover,
    &:active {
        background-color: var(--color-light-pink);
    }
}