.social-links {
    display: flex;
    align-items: center;
    gap: 1.7rem;

    & .social-link {
        list-style-type: none;
    
        &__link:link,
        &__link:visited {
            text-decoration: none;
            color: var(--color-white);
            transition: color 0.25s ease-out;
        }
    
        &__link:hover,
        &__link:active {
            color: var(--color-icon-active);
        }
    
        &__icon {
            font-size: 2.3rem;
            color: currentcolor;
        }
    }

    @include media-screen-min($bp-desktop) {
        gap: 2.4rem;

        & .social-link {
            &__icon {
                font-size: 3.2rem;
            }
        }
    }
}
