%heading {
    font-family: var(--ff-head);
    font-weight: var(--fw-bold);
    line-height: 1.5em;
}

.heading-1 {
    @extend %heading;
    font-size: 2.4rem;
}

.heading-2 {
    @extend %heading;
    font-size: 2rem;

    &--cta {
        font-size: 2.4rem;
    }

    &--footer {
        text-transform: uppercase;
    }
}

.foot-note {
    font-weight: var(--fw-semi-bold);
    line-height: 2.4rem;
}